{% extends 'otree/Page.html' %}

{% block title %}
    Instructions: Motor Screening Task
{% endblock %}

{% block content %}
    <div class="card bg-light m-3">
        <div class="card-body">
            <h3>Motor Screening</h3>
            <p>
                This short task checks your speed and accuracy with the mouse.
            </p>
            <p>
                1. A <strong>green cross</strong> will appear on the screen.<br>
                2. Click on the <strong>center</strong> of the cross as quickly as possible.<br>
                3. Once you click, the next cross will appear.
            </p>

            <div class="alert alert-info">
                Try to click exactly in the intersection of the cross lines!
            </div>

            <p>Click below to start.</p>
        </div>
    </div>

    <div class="text-center">
        {% next_button %}
    </div>
{% endblock %}