{% extends 'otree/Page.html' %}

{% block title %}
    Results: Motor Screening
{% endblock %}

{% block content %}
    <div class="card m-3">
        <div class="card-body text-center">
            <h3>Screening Complete</h3>
            <br>

            <div class="row">
                <div class="col-md-6">
                    <div class="alert alert-info">
                        <h4>Avg. Speed</h4>
                        <h2 class="display-4">{{ player.mot_mean_rt|to0 }} ms</h2>
                        <small>Reaction Time</small>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="alert alert-success">
                        <h4>Avg. Accuracy</h4>
                        <h2 class="display-4">{{ player.mot_mean_error|to0 }} px</h2>
                         <small>Pixel deviation from center (Lower is better)</small>
                    </div>
                </div>
            </div>

            <hr>
            <p>Click below to continue.</p>
        </div>
    </div>

    <div class="text-center">
        {% next_button %}
    </div>
{% endblock %}