{% extends "global/Page.html" %}

{% block content %}

<h2>Instructions Stop-Signal Task</h2>

<p>
In this task you see arrows on the screen.
</p>

<p>
If the arrow points to the left, press the letter <b>f</b>.<br>
If the arrow points to the right, press the letter <b>j</b>.
</p>

<p>
    <b>Difference to the prvious rounds:</b>
Sometimes you will hear a <b>beep</b> shortly before the arrow.<br>
In this case, you must <b>not</b> press the letter, but suppress your reaction.
</p>

<p>
Please respond as quickly and accurately as possible.
</p>

<button class="btn btn-primary">Start stop-signal task</button>

{% endblock %}
