{% extends 'otree/Page.html' %}

{% block title %}
    Results: RTI Task
{% endblock %}

{% block content %}
    <div class="card m-3">
        <div class="card-body text-center">
            <h3>Test Completed</h3>
            <br>

            <div class="row">
                <div class="col-md-6">
                    <div class="alert alert-info">
                        <h4>Reaction Time (RT)</h4>
                        <h2 class="display-4">{{ player.rti_mean_rt|to0 }} ms</h2>
                        <small>Time to release button</small>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="alert alert-primary">
                        <h4>Movement Time (MT)</h4>
                        <h2 class="display-4">{{ player.rti_mean_mt|to0 }} ms</h2>
                         <small>Time to click target</small>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                 <div class="col-md-6">
                    <div class="alert alert-success">
                        <h5>Successful Trials</h5>
                        <h3>{{ player.rti_total_score }}</h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="alert alert-danger">
                        <h5>Errors</h5>
                        <h3>{{ player.rti_errors }}</h3>
                        <small>(Too early / Missed)</small>
                    </div>
                </div>
            </div>

            <hr>
            <p>Click below to continue.</p>
        </div>
    </div>

    <div class="text-center">
        {% next_button %}
    </div>
{% endblock %}


