{% extends 'otree/Page.html' %}

{% block title %}
    Instructions: Spatial Span Task
{% endblock %}

{% block content %}
    <div class="card bg-light m-3">
        <div class="card-body">
            <h3>Spatial Span (Working Memory)</h3>
            <p>
                This task measures your visual memory.
            </p>
            <p>
                1. You will see 9 white boxes on the screen.<br>
                2. Some boxes will <strong>change color</strong> one after another.<br>
                3. Remember the sequence.<br>
                4. Afterwards, <strong>click on the boxes</strong> in the exact same order.
            </p>

            <div class="alert alert-info">
                The sequence will get longer if you are correct. The test stops if you make multiple mistakes.
            </div>

            <p>Click below to start.</p>
        </div>
    </div>

    <div class="text-center">
        {% next_button %}
    </div>
{% endblock %}